<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar.html :: header}"></head>
<body>
<div class="main">
<div th:insert="~{fragments/navbar.html :: navbar}"></div>
</div>
<div class="container">
  <div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <h2 th:text="${tecnico.id==0? 'Nuevo Tecnico':'Editar Tecnico'}">Editar Tecnico</h2>
      <hr/>
      <form method="post" th:action="@{'/tecnicos/save'}" th:object="${tecnico}">
        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input th:field="${tecnico.firstName}" type="text" class="form-control" >
        </div>
        <div class="mb-3">
          <label class="form-label">Apellido</label>
          <input th:field="${tecnico.lastName}" type="text" class="form-control" >
        </div>
        <div class="mb-3">
          <label class="form-label">DNI</label>
          <input th:field="${tecnico.dni}" type="text" class="form-control" >
        </div>
        <div class="mb-3">
          <label class="form-label">Phone</label>
          <input th:field="${tecnico.phone}" type="text" class="form-control" >
        </div>
        <div class="mb-3">
          <label class="form-label">Edad</label>
          <input th:field="${tecnico.age}" type="text" class="form-control" >
        </div>

        <a th:href="@{/tecnicos/lista}" class="btn btn-danger">Cancelar</a>
        <button type="submit" class="btn btn-primary">Registrar</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>